
DEDALUS_API_KEY=dsk-test-28fa7d847893-7a35d0005301d54e919df7a257b55c32


SUPABASE_URL=https://rhnvqyvokjkgmlfprjbh.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJobnZxeXZva2prZ21sZnByamJoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDg5NTIyMiwiZXhwIjoyMDg2NDcxMjIyfQ.c-H9CqVKrKzvra-O1_NWbPeO2rF5Jkq8i90cnDX7ChA

POSTGRES_HOST=postgres.railway.internal
POSTGRES_PORT=5432
POSTGRES_DB=railway
POSTGRES_USER=postgres
POSTGRES_PASSWORD=PJbRGDVnXzuicZFsWkMlToYLHhRLPWUp


BRAVE_API_KEY=BSAbPVLSeEbyLZimpZgui2HJcXSSXpz
SLACK_BOT_TOKEN=xoxb-10493159621557-10524870512816-mMoBUZtJh8KNAZtXMkePZFp0
OPENWEATHER_API_KEY=3936e4518ec87b77debd2bf35a77d3b0
