
DEDALUS_API_KEY=


SUPABASE_URL=https.co
SUPABASE_KEY=.c-H9CqVKrKzvra-O1_NWbPeO2rF5Jkq8i90cnDX7ChA

POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=


BRAVE_API_KEY=
SLACK_BOT_TOKEN=
OPENWEATHER_API_KEY=
